@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
.logo {
    margin: 20px 0px 20px 150px;
    padding: 10px 10px 10px 10px;
}
.capa {
    margin: 0px 0px 20px 150px;
    padding: 5px 10px 10px 10px;
    height: 55%;
    width: 70%;
}
h1 {
    text-align: justify;
    margin: 0px 0px 20px 150px;
    padding: 5px 10px 10px 10px;
    font-size: 30px;

}
p {
    text-align: justify;
    margin: 0px 0px 20px 150px;
    padding: 5px 10px 10px 10px;
}

nav {
    
    margin: -70px 0px 20px 1060px;
    padding: 5px 10px 10px 10px;
}
footer {
    text-align: center;
    padding: 10px;
}